{% extends 'base.html' %}
{% block content %}
<a class="btn btn-primary" href="{{ url_for('tela_de_login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('cadastro') }}">Cadastro</a>

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            {% if 'usuario_logado' in session and session['usuario_logado'] != None %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for aluno in lista_de_alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.cpf }}</td>
            <td>{{ aluno.telefone }}</td>
            {% if 'usuario_logado' in session and session['usuario_logado'] != None %}
            <td><a href="{{ url_for('editar', id=aluno.id) }}">Editar</a></td>
            <td><a href="{{ url_for('deletar', id=aluno.id) }}">Deletar</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}