{% extends 'base.html' %}
{% block content %}

<form class="formularioJogo" action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">

    <figure class="img thumbnail col-md-4">
            <img class="img-fluid" src="{{ url_for('foto', nome_arquivo='foto_exemplo.jpg') }}">
            <figcaption>
                <label class="fileContainer">
                    Mudar Foto
                    <input type="file" name="foto" accept=".jpg">
                </label>
            </figcaption>
        </figure>
    <fieldset>
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cpf.label(class="form-label") }}
            {{ form.cpf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.telefone.label(class="form-label") }}
            {{ form.telefone(class="form-control") }}
        </div>
        <div class="form-group buttons">
            {{ form.salvar(class="btn btn-primary") }}
        <a class="btn btn-danger" href="{{ url_for('alunos') }}">Voltar</a>
        </div>
    </fieldset>
</form>

{% endblock %}